<div class="container-fluid">
    <div class="row toolbar">
      <div class="col text-center">
        <h1>Alten Challenge</h1>
      </div>
    </div>
    <div class="row">
        <div class="col">
            <mat-tab-group dynamicHeight>
                <mat-tab label="Search & Book">
                    <div class="example-small-box mat-elevation-z4">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                            <div class="row">
                                <div class="col">
                                <app-search-book></app-search-book>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Check & Cancel">
                    <div class="example-large-box mat-elevation-z4">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                            <div class="row">
                                <div class="col">
                                <app-check-cancel></app-check-cancel>
                                </div>
                            </div>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </mat-tab>
              </mat-tab-group>
        </div>
    </div>
  </div>